# Node modules
backend/node_modules/*
client/node_modules/*

# Environment variables
backend/.env

# Next.js output directories
.next/
out/

# System files
.DS_Store

# IDE files
client/.vscode/

# NPM
backend/package-lock.json
client/package-lock.json

# Optional: Ignore public/static assets generated during build
client/public/static/
backend/public/static/
